body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add css reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Create style for footer with black background and always set it at the bottom, but only until I scroll to it*/
.footer {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  width: 100%;
}